:root {
  /* ### Primary */

  --clr-juice: hsl(7, 99%, 70%);
  --clr-egg: hsl(51, 100%, 49%);
  --clr-graphic-text: hsl(167, 40%, 24%);
  --clr-photograpy-text: hsl(198, 62%, 26%);
  --clr-footer: hsl(168, 34%, 41%);

  /* ### Neutral */

  --clr-heading-text: hsl(212, 27%, 19%);
  --clr-test-text: hsl(213, 9%, 39%);
  --clr-paragraph-text: hsl(232, 10%, 55%);
  --clr-name-info: hsl(210, 4%, 67%);
  --clr-header-text: hsl(0, 0%, 100%);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 0 1.2em;
}

h1,
h2,
h3 {
  font-family: Fraunces, serif;
  color: var(--clr-heading-text);
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

p {
  color: var(--clr-paragraph-text);
  line-height: 1.5;
}

.hamburger {
  display: none;
  margin-left: auto;
}

header {
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 3em;
  color: var(--clr-header-text);
}

header .header {
  display: flex;
  align-items: center;
}

header .hero {
  text-align: center;
  margin-top: 7rem;
}

.hero img {
  margin-top: 6rem;
  cursor: pointer;
}

header .logo {
  width: 160px;
}

header nav {
  display: flex;
  list-style: none;
  margin-left: auto;
  align-items: center;
  gap: 3rem;
}

header li {
  cursor: pointer;
}

header h1 {
  text-transform: uppercase;
  font-size: 3.4rem;
  color: inherit;
  letter-spacing: 0.2em;
}

.btn {
  background: white;
  color: var(--clr-heading-text);
  font-family: Fraunces, serif;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 1em 2em;
  border-radius: 3rem;
  transition: 0.1s;
}

.btn:hover {
  background: hsla(0, 0%, 100%, 0.301);
  color: white;
}

.mobile {
  display: none;
}

.row {
  display: flex;
}

.col {
  flex-basis: 100%;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.section-1 img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.col-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-info .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 48%;
  margin: auto;
}

.learn-more {
  font-family: Fraunces, sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  position: relative;
  align-self: flex-start;
  cursor: pointer;
}

.learn-more.yellow {
  --clr-learn-bg: hsla(51, 76%, 73%, 0.63);
}

.learn-more.yellow:hover {
  --clr-learn-bg: hsla(51, 76%, 73%, 1);
}

.learn-more.pink {
  --clr-learn-bg: hsla(7, 94%, 80%, 0.541);
}
.learn-more.pink:hover {
  --clr-learn-bg: hsla(7, 94%, 80%, 1);
}

.learn-more::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: -1;
  height: 10px;
  border-radius: 3rem;
  background: var(--clr-learn-bg);
}

.graphic {
  background: url("./images/desktop/image-graphic-design.jpg");
  background-size: cover;
  height: 40vw;
  text-align: center;
}

.graphic h3,
.graphic p {
  color: var(--clr-graphic-text);
  width: 40%;
  margin: auto;
}

.photography {
  background: url("./images/desktop/image-photography.jpg");
  background-size: cover;
  height: 40vw;
  text-align: center;
}

.photography h3,
.photography p {
  color: var(--clr-photograpy-text);
  width: 40%;
  margin: auto;
}

.section-1 h3 {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 50%;
}

.section-2 {
  padding-top: 9rem;
}

.section-2 h3 {
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-paragraph-text);
  letter-spacing: 0.2em;
}

.testimonies {
  display: flex;
  padding: 0 4em;
  margin-top: 5rem;
  gap: 3rem;
}

.testimoni {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.testimoni img {
  width: 70px;
  border-radius: 50%;
  align-self: center;
}

.testimoni span {
  display: block;
}

.testimoni .name {
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  color: var(--clr-heading-text);
}

.testimoni .job {
  font-size: 0.9em;
  color: var(--clr-name-info);
  margin-top: 1rem;
}

.section-3 {
  padding-top: 10rem;
}

.section-3 img {
  width: 100%;
}

footer {
  background: hsl(167, 68%, 77%);
  color: var(--clr-graphic-text);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}

footer img {
  width: 200px;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

footer li {
  cursor: pointer;
  color: var(--clr-footer);
  transition: 0.1s;
}

footer li:hover {
  color: white;
}

.social {
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
}

.social > * {
  cursor: pointer;
  transition: 0.1s;
}

.social > *:hover {
  color: white;
}

@media only screen and (max-width: 900px) {
  header {
    position: relative;
    padding: 1.5em 0;
    background-image: url("./images/mobile/image-header.jpg");
    background-position: center;
    height: 75vh;
  }
  header .logo {
    width: 125px;
  }

  .header {
    position: relative;
  }

  .btn {
    background: var(--clr-egg);
  }

  header h1 {
    font-size: 2.4rem;
  }

  .hero img {
    margin-top: 4rem;
  }

  header nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0;
    flex-direction: column;
    background: white;
    color: var(--clr-paragraph-text);
    gap: 2rem;
    padding: 2em 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .row {
    flex-direction: column;
  }

  .col-info {
    padding: 3em 2em;
    text-align: center;
  }

  .col-info .info {
    gap: 2rem;
    width: 100%;
    margin: auto;
  }

  h2 {
    font-size: 2rem;
    font-weight: 900;
  }

  .learn-more {
    align-self: center;
  }

  .graphic {
    background-position: center;
    padding-bottom: 4rem;
  }

  .graphic p {
    font-size: 0.9em;
  }

  .graphic h3,
  .graphic p {
    width: 100%;
    margin: auto;
  }

  .photography {
    background-position: center;
    padding-bottom: 4rem;
  }

  .photography p {
    font-size: 0.9em;
  }

  .photography h3,
  .photography p {
    width: 100%;
    margin: auto;
  }

  .section-1 h3 {
    margin-top: 100%;
    margin-bottom: 2rem;
  }

  .section-2 {
    padding-top: 3.5rem;
  }

  .section-3 {
    padding-top: 5rem;
  }

  .section-2 h3 {
    font-size: 1rem;
  }

  .testimonies {
    flex-direction: column;
    padding: 0;
    gap: 4rem;
  }

  .testimoni {
    gap: 2rem;
  }

  .section-3 .row {
    flex-direction: row;
  }

  .section-3 .row {
    flex-basis: 50%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
